$root-font-size: 1rem; /* Taille de police de base */
$font-family: 'Roboto', sans-serif; /* Famille de police */
$page-width: 800px; /* Largeur de la page */
$paragraph-font-size: 1.6rem; /* Taille de police pour les paragraphes */
