<!DOCTYPE html>
<html>
  <head>
   
    <title>Intégration démo AR</title>
    <meta charset="utf-8" />
    {% load static %}

    <!-- Forbid resize on pinch with IOS Safari: -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />

    <!-- INCLUDE MAIN SCRIPT: -->
    <script src="/static/dist/ARLookWidget.js"></script>

    <!-- For icons adjust fame or resize canvas -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"
    ></script>

    <!-- Font for the header only: -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed"
      rel="stylesheet"
    />

    <!-- main stylesheet: -->
    <link rel='stylesheet' href='{% static 'css/ARLookWidget.css' %}' />

    <script>
      let _isResized = false;

      function test_resizeCanvas() {
        // halves the height:
        let halfHeightPx = Math.round(window.innerHeight / 2).toString() + "px";

        const domWidget = document.getElementById("ARLookWidget");
        domWidget.style.maxHeight = _isResized ? "none" : halfHeightPx;

        _isResized = !_isResized;
      }

      function get_initialSKU() {
        // look if a SKU is provided as a URL parameters:
        const queryString = window.location.search;
        const URLParams = new URLSearchParams(queryString);
        const sku = URLParams.get("nom") || "rayban_wayfarer_noir_vert";
        console.log("Initial SKU =", sku);
        return sku;
      }

      function get_isShadow() {
        const queryString = window.location.search;
        const URLParams = new URLSearchParams(queryString);
        return URLParams.get("isHideShadow") ? false : true;
      }

      // entry point:
      function main() {
        ARLookWidget.start({
          isShadow: get_isShadow(),
          sku: get_initialSKU(),
          searchImageMask: "/static/images/target512.jpg",
          searchImageColor: 0xeeeeee,
          callbackReady: function () {
            console.log("INFO: ARLookWidget is ready <3 <3 ");

          
          },
          onError: function (errorLabel) {
            // this function catches errors, so you can display custom integrated messages
            alert("An error happened. errorLabel =" + errorLabel);
            switch (errorLabel) {
              case "WEBCAM_UNAVAILABLE":
                // the user has no camera, or does not want to share it.
                break;

              case "NOFILE":
                // the user send an image, but it is not here
                break;

              case "WRONGFILEFORMAT":
                // the user upload a file which is not an image or corrupted
                break;

              case "INVALID_SKU":
                // the provided SKU does not match with a glasses model
                break;

              case "FALLBACK_UNAVAILABLE":
                // we cannot switch to file upload mode. browser too old?
                break;

              case "PLACEHOLDER_NULL_WIDTH":
              case "PLACEHOLDER_NULL_HEIGHT":
                // Something is wrong with the placeholder
                //(element whose id='ARLookWidget')
                break;

              case "FATAL":
              default:
                // a bit error happens:(
                break;
            } 
          }, 
        }); 
      } 

      function load_modelBySKU() {
         
        console.log("---------------load sku-----------------");
        const sku = prompt(
          "Please enter a glasses model SKU:",
          "rayban_wayfarer_havane_marron"
        );
        if (sku) {
          ARLOOKWIDGET.load(sku);
        }
      }
    </script>
  </head>

  <body onload="main()">
    <div class="content">
      <div class="header">
        <div class="headerTitle">ARLook</div>
      </div>

      <div id="ARLookWidget">
        <canvas id="ARLookWidgetCanvas"></canvas>

        <d9iv class="ARLookWidgetControls ARLookWidgetControlsTop">
          <!-- ADJUST BUTTON: -->
          <button id="ARLookWidgetAdjust">
            <div class="buttonIcon"><i class="fas fa-arrows-alt"></i></div>
            Adjust
          </button>

          <!-- RESIZE WIDGET BUTTON: -->
          <button id="buttonResizeCanvas" onclick="test_resizeCanvas();">
            <div class="buttonIcon"><i class="fas fa-sync-alt"></i></div>
            Resize widget
          </button>
        </div>

        <!-- CHANGE MODEL BUTTONS: -->
        <div class="ARLookWidgetControls" id="ARLookWidgetChangeModelContainer">
          <button onclick="ARLOOKWIDGET.load('rayban_wayfarer_noir_vert')">
            Model 1
          </button>
         <!-- <button
            onclick="ARLOOKWIDGET.load('rayban_round_cuivre_pinkBrownDegrade')"
          >
            Model 2
          </button>
          <button
            onclick="ARLOOKWIDGET.load_modelStandalone('glasses3D/glasses1.json')"
          >-->
           
        </div>

        <!-- BEGIN ADJUST NOTICE -->
        <div id="ARLookWidgetAdjustNotice">
          Move the glasses to adjust them.
          <button class="ARLookWidgettBottomButton" id="ARLookWidgetAdjustExit">
            Quit
          </button>
        </div>
        <!-- END AJUST NOTICE -->

        <!-- BEGIN LOADING WIDGET (not model) -->
        <div id="ARLookWidgetLoading">
          <div class="ARLookWidgetLoadingText">LOADING...</div>
        </div>
        <!-- END LOADING -->
      </div>
    </div>
  </body>
</html>
